<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
    <key>IntuneMAMSettings</key>
    <dict>
        <key>ADALAuthority</key>
        <string>https://login.microsoftonline.com/694c298a-e1a5-4514-af7a-deee1f033aa7</string>
        <key>ADALClientId</key>
        <string>9794dec7-21df-48e9-8504-e4a01adf63f3</string>
        <key>ADALRedirectScheme</key>
        <string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>SafariViewControllerBlockedOverride</key>
        <true/>
    </dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>msauthv3</string>
        <string>msauthv2</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
                <string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)-intunemam</string>
                <string>msauth.com.microsoft.intunemam</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
